body{
    color: black;    
}

a {
    color: black;    
}

.static-contemporary{
  height: 50%;
  align: center;
  padding: 0;
  margin: 0;
  background-color: #c3b29a;
}
/*
.ata-col{
    background-color: #ece7e9;    
}
*/
.contemporary-text{
   padding-top: 10px; 
}

.static-contemporary div {
    height: 50%;    
}

.static-contemporary h1 {
    font-size: 26px;
}

.static-contemporary h2{
    font-size: 20px;    
}

.static-contemporary p{
    font-size: 12px;
}

.static-contemporary img {
    height: 80%;
    width: 100%;    
}
