body{
    color: black;
}

a {
    color: black;    
}

.ata-navigation{
    background-color: black;
    color: white;
    max-width: 100%;
}

.static-contemporary{
  width: 102.6% !important;
  height: 50%;
  max-height: 480px;
  padding: 0;
  background-color: #c3b29a;
}

.contemporary-menu{
    background-color: #ece7e9 !important;    
}

.contemporary-text{
   padding-top: 36px;
   font-size: 16px;
   font-weight: 500;
   text-align: center;
   line-height: 1.2em;
}

.static-contemporary div {
    height: 50%;    
}

.static-contemporary h1 {
    font-size: 33px;
    color: white;
    text-decoration: underline;
    font-weight: 800;
    margin-bottom: 25%;
}

.static-contemporary h2{
    font-size: 28px;
    color: white;
    margin-bottom: -0.5rem;
    line-height: 1.5;
}

.static-contemporary hr{
    background-color: white;    
}

.static-contemporary p{
    font-size: 18px;
    padding: 0 10px 0 10px;
    word-spacing: 1px;
    word-wrap: normal;
    line-height: 28px;
    color: white;
    font-weight: 600;
}

.static-contemporary img {
    height: 80%;
    width: 102%;
    max-width: 105%;
}

.stickyribbon .nav-sections .navigation {
    background: #45555a;
    color: #e2e5e5;
    width: 114% !important;
    margin-bottom: 0;
}

.stickyribbon .nav-sections .navigation span{
    color: #e2e5e5;    
}

.ata-nav-spacing{
    width: 77% !important;   
    font-size:;
    font-weight:;
}

.ata-nav-spacing ul{
    padding: 24px 40px;    
    width: 100%;
}

.ata-sidebar-main{
    background: #ece7e9;    
}

.ata-address-header{
    max-width: 100%;
    max-height: 10%;
}

.ata-searchbar{
    
}

.ata-swatch{
    max-width: 80%;
}

.ata-color-swatch{
    border: 1px solid lightgray !important;
    padding:0 10px 0 10px !important;
    width: 33%;
    border: 1px solid lightgray;
}

.ata-product-item-link{
    color: black;
    font-weight: 500;
}

.ata-product-item-inner{
   color: aqua; 
}

.ata-product-price span{
    color: #ace4dd;
    font-weight: 500 !important;
    font-size: 16px;
}

.ata-block-combined{
    background-color: #47595C;
    color: white;
}

.ata-block-combined input{
    border: none;
    color: white;
    background: transparent;    
    margin-left: 35%;
    padding-top: 10px;
}

.ata-block-combined button{
    margin-left: 35%; 
}

.col1{
    padding: 45px 0 0 58px; 
    background-color: #eee8e8;
}
.col1 .price-cart-quantity-info{
    margin: 0;
    padding: 0 0 0 80px;
    width: 100%;
}

.col1 .price-box{
    width: 52% !important;    
    float: right;
}
.col1 .product-info-main{
    display: block;
    width: 100%;
}

.col1 .actions{
    width: 165%;    
} 


.col1 swatch-option{
    border: none;    
}

.col2{}
.col3{}

.col1 .field .qty{
    margin: 0;
    padding: 0;
    width: 33%;
}

.col1 .box-tocart{
    width: 40%;    
}
.col1 button{
    display: block;
    width: 100%;
}

.col1 .swatch-attributes{
    margin-bottom: 0;   
}


.col3 .tab-content{
    width: 250px;
    padding: 0;
}
.col3 li{
    display: none;    
}


